body {
   background-color:#242629;
   /* negro toque de azul */
   font-family:Lucida Sans Unicode;
   color:#b8bec6;
   /* gris claro toque de azul */
   margin: 20px;
   padding: 20px;
}
h1 {
   color:#42b539;
   /* verde consola */
   background-color:black;
}
h2, h3, h4, h5, h6{
   color:#6c8bc3;
   /* celeste */
   background-color:#161719;
   /* gris oscuro*/
}
a {
	color:red;
}
p {
	color:#b8bec6;
   /* gris claro toque de azul */
}
#script {
    color:green;
    background-color: black;
    width: 600px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    border: 3px solid #1e2d48;
  }
table {
  border: 3px solid black;
  border-collapse: collapse;
  width: 50%
}
th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
th {
  background-color: black;
  color: green;
}
